/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .hide-on-mobile-tablet {
        display: none;
    }
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }
    .header {
        height: 68px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .header__cart-list{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list::before {
        display: none;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__sort-bar {
        display: flex;
    }
    .app__content {
        padding-top: 8px;
    }
    .mobile-category__link,
    .header__search-select,
    .nav__mobile-list,
    .footer {
        -webkit-tap-highlight-color: transparent;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
    .header__search-history {
        width: 156%;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }
    .header-with-search {
        justify-content: space-between;
    }
    .header__cart,
    .header-logo {
        width: unset;
    }
    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        padding: 0 16px;
        animation: mobileSearchSideIn linear .3s;
        display: none;
    }
    @keyframes mobileSearchSideIn {
        form {
            opacity: 0;
            left: -100%;
        }
        to {
            opacity: 1;
            left: 0;
        }
    }
    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .header__mobile-search {
        display: flex;
        flex-direction: row;
    }
    .nav__bars-btn {
        display: block;
        margin-right: 16px;
    }
    .nav__input:checked ~ .nav__mobile {
        overflow: auto;
        max-height: 100%;
    }
    .pagination {
        padding-left: 0;
    }
    .pagination-item {
        margin: 0;
    }
    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
    .app__content {
        margin: 0 4px;
    }
    .mobile-category__list {
        display: flex;
    }
    .header__logo-img {
        width: 110px;
    }
    .product-item__discount-label {
        top: 0;
    }
    .footer__content {
        padding: 0 16px;
    }
    .footer__item {
        margin-top: 36px;
    }
    .footer__heading {
        text-align: center;
    }
    .footer__download,
    .footer__payment,
    .footer-item__link {
        justify-content: center;
    }
    .footer__download-apps {
        flex: unset;
    }
    .footer__download-apps-link {
        padding: 6px 8px;
    }
}